body{
    margin: 0;
    background-color: #c2c2bc;
}
.NamaNpm{
    font-family: 'Manjari', sans-serif;
    font-size: 35px;
    color: #0f0f0d;
    line-height: 200%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-top: 150px;
    flex: 50%;
}
.Bio{
    font-family: 'Manjari', sans-serif;
    font-size: 26px;
    color: #ffffff;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 0%;
    margin-top: 0%;
}
.TempatBio{
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    background-color: rgba(15, 15, 13, 0.7);
}
.TempatSosmed{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}
ul{
    margin:0;
    list-style: none;
    padding: 20px;
    background-color: rgba(120, 120, 115, 0.7);
}
li{
    display: inline;
}
li a{
    padding: 16px;
    font-size: 60px;
    color: #0f0f0d;
}
.fab:hover{
    color: #efefeb;
}
.Tampungan{
    margin-top: 15px;
}
.Photo{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-left: 460px;
    margin-top: 45px;
    margin-right: 50px;
    flex: 50%;
}
a{
    color: #ffffff;
    text-decoration: none;
}
@media(max-width : 768px){
    body{
        display: none;
    }
}